.main {
  font-size: 22px;
  line-height: 28px;
}

.align_start {
  text-align: start;
}
.align_center {
  text-align: center;
}
.align_end {
  text-align: end;
}


.weight_normal {
  font-weight: 400;
}
.weight_light {
  font-weight: 300;
}
.weight_bold {
  font-weight: 600;
}

