.header{
  display: flex;
  padding: 19px 10%;
  position: relative;
}

.arrowWrapper {
  display: block;
  cursor: pointer;
}

.logoWrapper{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
